/* ------------------
 Resets & body
------------------- */
* {
    padding: 0;
    margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
   background-color: #FFFECA;
   font-family: Droid Sans Mono;
   color:  #826514;
   font-size: 16px;
}

a {
   text-decoration: none;
   color: #F00076;
   transition: color 0.3s ease;
}

a:hover {
   color: #FE5049;
}

p {
   line-height: 1.4;
}

@media (max-device-width: 763px) {
   p {
      font-size: 15px;
      line-height: 1.5;
   }
}


/* ------------------
 Nav
------------------- */
.nav-content {
    max-width: 1280px;
    margin: auto;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #FB504D;
    height: auto;
    z-index: 999;
    box-shadow: 0px -2px 5px 2px #999;
}

#logo {
   float: left;
   margin-left: 40px;
   width: 4em;
   margin: 15px 35px;
}

#logo img {
    width: 100%;
}

#menu {
    float: right;
    margin-right: 30px;
}

#menu a {
   display: table-cell;
   vertical-align: middle;
}

#menu ul li {
   list-style: none;
   display: inline-table;
   padding-right: 3em;
   vertical-align: middle;
   height: 160px;
}

nav a {
   text-decoration: none;
   font-size: 2em;
   color: #fff;
   transition: color 0.3s linear;
   cursor: pointer; cursor: hand;
}

nav a:hover {
   color: #ffdb5c;
}

@media (max-device-width: 600px) {
   #logo {
      float: left;
      margin-left: 40px;
      width: 5rem;
      margin: 15px 35px;
   }
   #menu ul li {
      height: 180px;
   }
}

@media (max-device-width: 450px) {
   #logo {
      width: 3em;
   }
   nav a {
      font-size: 1em;
   }
   #menu ul li {
      padding-right: 1em;
      height: 110px;
   }
}


/* ------------------
 Splash
------------------- */


#container {
   width: 100%;
   box-sizing: border-box;
   padding: 5%;
}

#splash {
   padding-top: 6em;
}

#cone-container {
   max-width: 55%;
   margin: 80px auto 45px;
   display: table;
}

#tagline h4 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 3em;
}

#tagline p {
   font-size: 2vw;
   text-align: center;

}


.cone {
   box-sizing: border-box;
   max-width: 25%;
   padding: 0 1%;
   display: block;
   float: left;
}

.cone:hover {
}

#cone-container:before {
   content: '';
   display: table;
}

#cone-container:after {
   clear: both;
}

.cone-1 {
   animation: cone-down 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 0s;
   transform: translateY(-400px);
}

.cone-2 {
   animation: cone-up 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 0.3s;
   transform: translateY(-400px);
}

.cone-3 {
   animation: cone-up 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 0.6s;
   transform: translateY(-400px);
}

.cone-4 {
   animation: cone-down 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 0.9s;
   transform: translateY(-400px);
}

@keyframes cone-down {
   0% {transform: translateY(-500px);}
   100% {transform: translateY(15px);}
}

@keyframes cone-up {
   0% {transform: translateY(-500px);}
   100% {transform: translateY(-15px);}
}

@media (max-device-width: 600px) {
   #splash {
      margin-top: 0em;
   }
   #tagline h4 {
      font-size: 1em;
      margin-bottom: 3em;
   }
   #tagline p {
      font-size: 1em;
   }
}


/* ------------------
 Blog
------------------- */

#blog-container {
   margin-top: 11vh;
}


article {
    margin-bottom: 75px;
}

.title * {
   display: block;
}

.contributor .profile-card p {
   display: block;
   text-align: center;
}

.contributor {
   float: left;
}

.title {
   float: left;
}

.post-body-container {
   clear: both;
   position: relative;
   max-height: 100px;
   overflow: hidden;
   transition: max-height 0.5s ease;
}

.overlay {
   background: linear-gradient(180deg, rgba(255, 254, 202, 0), rgba(255, 254, 202, 0) 60%, rgba(255, 254, 202, 1) 100%);
   position: absolute;
   bottom: 0;
   height: 100%;
   width: 100%;
   opacity: 1;
   transition: opacity 0.5s ease;
}

.btn {
    width: 45%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(251, 80, 77, 0.15);
    color: #928C3E;
    border: 2px solid #FB504D;
    border-radius: 12px;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.btn p {
  margin-top: 14px;
  font-size: 1.5em;
}

.btn:hover {
    color: #fff;
    background-color: rgba(251, 80, 77, 1);
}

.expand {
    max-height: 800px;
}

.transparent {
    opacity: 0;
}

/* Section Separation*/

#page-divider {
  text-align: center;
  padding-top: 30px;
}

#page-divider img.divider-cone {
  display: inline-block;
  margin: 0px auto;
  width: 2.5em;
  transition: 0.3s ease;
}

.divider-cone-1:hover {
   transform: translateY(-12px);
}

.divider-cone-2:hover {
   transform: translateY(-12px);
}

.divider-cone-3:hover {
   transform: translateY(-12px);
}

@media (max-device-width: 450px) {
   #blog-container {
      margin-top: 3em;
   }
   .title {
      margin-bottom: 2em;
   }
   .btn {
      height: 65px;
      width: 55%;
   }
   .btn p {
      margin-top: 11px;
      font-size: 1em;
   }
}

/* ------------------
 Profile
------------------- */
.profile-img {
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: left;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.small {
   width: 75px;
   height: 75px;
   background-size: contain;
   margin: 0 20px 30px 0;
}

.profile-body-container {
    margin-left: 16em;
}

.profile-body-container h2 {
    margin-top: 5em;
}

.profile-card {
    clear: both;
}

.social-icons {
    color: #FB504D;
    padding-top: 15px;
    padding-bottom: 15px;
}


.codewars {
   height: 61px;
   width: 63px;
   border-radius: 63px;
   margin-bottom: 1px;
}

.social-icons img {
    transition: opacity 0.2s linear;
}

.social-icons img:hover {
    opacity: 0.5;
}

.andrew .profile-img {
    background-image: url('https://avatars0.githubusercontent.com/u/14013616?v=3&s=200');
}

.katherine .profile-img {
    background-image: url('https://avatars1.githubusercontent.com/u/1287388?v=3&s=200');
}

.jack .profile-img {
    background-image: url('https://avatars2.githubusercontent.com/u/12638261?v=3&s=200');
}

.elias .profile-img {
    background-image: url('https://avatars1.githubusercontent.com/u/12719553?v=3&s=200');
}

@media (max-device-width: 450px) {
   .profile-body-container {
      margin-left: 0;
   }
   .social-icons img {
      width: 30px;
      margin-right: 0;
   }

   .codewars {
      height: 29px;
      width: 29px!important;
   }
   .profile-img {
      height: 100px;
      width: 100px;
      margin: 20px 20px 20px 0;
      background-size: contain;
   }
}

/* ------------------
 Footer
------------------- */
footer {
    background-color: #FB504D;
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

footer a {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

footer a:hover {
    color: #ffdb5c;
}

.footer-cone {
   display: inline-block;
   /*float: left;*/
   width: 2.5em;
   margin: 10px;
