/* ------------------
 Resets
------------------- */
* {
    padding: 0;
    margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

/* ------------------
 Nav
------------------- */
.nav-content {
    max-width: 1280px;
    margin: auto;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #FB504D;
    height: auto;
}

#logo {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#logo img {
    width: 7vw;
    height: auto;
    min-width: 60px;
    min-height: 105.6px;
    max-width: 80px;
    max-height: 140.8px;
}

@media screen and (min-width: 768px) {
    #logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #logo img {
        width: 7vw;
        height: auto;
        max-width: 40px;
        max-height: 140.8px;
    }
}

#menu {
    float: right;
    margin-right: 30px;
}

#menu object {
    width: 100px;
    height: auto;
    margin-top: 25%;
}

/*---boxes----*/

body {
   background-color: #FFFECA;
   font-family: Droid Sans Mono;
   color: #ada54e;
}

#container {
   width: 100%;
   box-sizing: border-box;
   padding: 5%;
}


#cone-container {
   /*border: solid black 2px;*/
   max-width: 55%;
   margin: 80px auto 45px;
}

#tagline h4 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 10vh;
}

#splash {
   /*border: solid 1px red;*/
   margin: 200px 0 50px;
}

.cone {
   box-sizing: border-box;
   max-width: 20%;
   padding: 0 1%;
   position: relative;
}

.cone-1 {
   animation: cone-down 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 1s;
}

.cone-2 {
   animation: cone-up 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 1s;
}

.cone-3 {
   animation: cone-up 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 1s;
}

.cone-4 {
   animation: cone-down 2s ease;
   animation-fill-mode: forwards;
   animation-delay: 1s;
}

@keyframes cone-down {
   0% {transform: translateY(0);}
   100% {transform: translateY(10px);}
}

@keyframes cone-up {
   0% {transform: translateY(0);}
   100% {transform: translateY(-10px);}
}
