/*---boxes----*/

body {
   background-color: #FFFECA;
   font-family: Droid Sans Mono;
   color: #ada54e;
}

#container {
   width: 100%;
}


#cone-container {
   max-width: 50%;
   margin: 0 auto;
}

#tagline h4 {
  text-align: center;
}

.cone {
   max-width: 20%;
}
